#####################################################################
# 	LED Control
#####################################################################

[output_pin caselight]
# Chamber Lighting - HE2 Connector (Optional)
pin: PA3
pwm:true
shutdown_value: 0
value:1
cycle_time: 0.01

[neopixel Led_2]
pin: PA9
chain_count: 17
#color_order: BGR
initial_RED: 0.0
initial_GREEN: 1.0
initial_BLUE: 1.0

