

[safe_z_home]
home_xy_position: 150, 150
speed: 150.0
z_hop:10
z_hop_speed: 15.0


[quad_gantry_level]
##	Use QUAD_GANTRY_LEVEL to level a gantry.
##	Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##	MAX (250, 250), (300,300), or (350,350) depending on your printer size
##	to respective belt positions

#--------------------------------------------------------------------
	
##	Gantry Corners for 300mm Build
##	Uncomment for 300mm build
gantry_corners:
	-60,-10
	360,370
##	Probe points
points:
	30,30
	30,270
	270,270
	275,30

#--------------------------------------------------------------------
speed: 300
horizontal_move_z: 10
retries: 5
#retry_tolerance: 0.0075
retry_tolerance: 0.01
max_adjust: 10