## Voron Design VORON2 300 SKR 1.4 TMC2209 UART config

[mcu]
canbus_uuid: 48c926f29027

# Toolhead BIGTREETECH EBBCan RP2040 Canbus board
[mcu EBBCan]
canbus_uuid: c411537526f5


[include macros/*.cfg]
[include configs/*.cfg]

[include mainsail.cfg]

[exclude_object]

[idle_timeout]
timeout: 1800

[gcode_arcs]

[printer]
kinematics: corexy
#max_velocity:  560 max by elis tunning
max_velocity:  550 
max_accel: 20000 ##By speed macro test
#max_accel: 3000 ##8000               # Set to 10000 for ADXL resonance testing
#max_accel_to_decel: 8000      # Set to 10000 for ADXL resonance testing
max_z_velocity: 15 #300	          # Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>
